{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 29, "knowledge_revision": 84, "git_revision": "6bfb468a945cdf1ac8bd10c89b904101670c836f", "hash": "27eab3778c5afcd6f1d94d5423a2883b", "format-version": 4, "code-base-name": "default", "filename": "backend/requirements.txt", "revision_history": [{"84": "6bfb468a945cdf1ac8bd10c89b904101670c836f"}]}